/* Shared Style */
* {  
  font-family: "Work Sans", sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    cursor: pointer;

}
.text-light-gray{
    color: #727272;
}
/* header Section */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
.nav> ul{
    display: flex;
    
}
.nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    
}
.nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img{
    margin-top: 20px;
    width: 100%;
}

/* Main Style */
main{
    height: 1440px;
    margin: 70 auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.Quick-list{
    color: #727272;
    font-weight: 500;
}
.text-Features{
    color: #FF900E;
    font-weight: 700;
}



/* Responsive Media Queries */

/* Mobile Devices */
@media screen and (max-width:576px) {   
    header{
        padding: 20px;
    }
    .nav,
    .teams-container 
    {
        flex-direction: column;
        padding: 5px;
        margin: 5px;
    }
    .teams-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
  
}
/* Teblet or Medium Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        padding: 50px;
    }
    .nav,
    .teams-container 
    {
        flex-direction: column;
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}